[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eth-abi = "*"
eth-utils = "*"
trinity = {git = "https://github.com/ethereum/py-evm.git"}

[dev-packages]

[requires]
python_version = "3.7"
